.file div {
    margin: 0.4em;
}

.fileTitle {
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.timeCreated{
    color: #999;
    /* background-color: blue; */
    font-size: 0.9em;

}

.fileExcerpt {
    /* background: red; */
    color: white;

}