.file div {
    margin: 0.4em;
}

.fileTitle {
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.timeCreated{
    color: #666;
    /* background-color: blue; */
    font-size: 0.9em;

}

.fileExcerpt {
    /* background: red; */
    color: #333;
    font-weight: 600;

word-wrap:break-word; 
word-break:break-all; 
}