
.library {
    width: 100%;
}

li.unselected {
    width: 100%;
    height: 100px;
    background-color: #fff;
    list-style: none;
    color: #333;
    /* padding: 20px; */
}

.library li {
    border-bottom: 1px solid #eee;
    color: #333;
}

.library ul {
    padding-inline-start: 0;
}

.library a {
    color: #333;
    height: 100px;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li.selected{
    color: #333;
    width: 100%;
    height: 100px;
    background-color: #fff;
    list-style: none;
    border-left: 4px solid #ffe400;
}

li {
    transition: border-left 0.2s;
    transition: background-color 0.1s;
}

.Search {
    border-radius: 20px;
}