:root {
	--primary: #11998e;
	--secondary: #38ef7d;
	--white: #fff;
	--gray: #9b9b9b;
}

.Login {
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
    display: flex;
    
}

/* input {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background-color: #333;
    border: 1px solid #666;
    border-radius: 0.2em;
    color: white;
} */

.formField {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--gray);
    outline: 0;
    font-size: 1.3rem;
    color: var(--white);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.formField::placeholder {
    color: 
}