@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');

.sideBar {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    width: 300px;
    background-color: white;
    transition: flex-basis 0.5s ease-in-out;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: 300px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.shown {
    transition: flex-basis 0.5s ease-in-out;
    flex-basis: 300px;
    
}

.hidden {
    flex-basis: 0;
    
}

  #sideBar::-webkit-scrollbar-track {
    background-color: #444;
  }
  
  #sideBar::-webkit-scrollbar {
    width: 12px;
    background-color: #ccc;
  }
  
  #sideBar::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: #555;
  }