.sideBar {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    width: 300px;
    background-color: #333333;
    transition: flex-basis 0.5s ease-in-out;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    /* position: relative; */
    flex-basis: 300px;
    
}

.sideBar div {
  width: 240px;
}

.shown {
    /* left: 0; */
    transition: flex-basis 0.5s ease-in-out;
    flex-basis: 300px;
    
}

.hidden {
    /* left: -300px; */
    flex-basis: 0;
    
}

  #sideBar::-webkit-scrollbar-track {
    background-color: #444;
  }
  
  #sideBar::-webkit-scrollbar {
    width: 12px;
    background-color: #ccc;
  }
  
  #sideBar::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: #555;
  }