/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap'); */

html, body {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
    overscroll-behavior-y: none;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    /* background-color: #333333; */
    width: 20px;
  }

#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    /* flex-grow: 1; */
}

#preview {
    width: 50%;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    overflow-y: scroll;
    /*background-color: #eeeeee;*/
    padding-left: 1.5rem;
}

#wordCounter{
	width: 100%;
	height: 1.5rem;
/* 	x: -100px; */
    /* vertical-align: middle; */
    background-color: #3498db;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
/* 	z-index: 100; */
	position: fixed;
	bottom: 0;
	z-index: 100;
}

#toolBar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: #333333;
    position: fixed;
    z-index: 100;
    top: 0;
    vertical-align: middle;
}

#toolBar > button {
    display: inline-block;
    width: 3em;
    height: 3em;
    /* background: none; */
    background-color: #333333;
    border: none;
    position: relative;
}

.btn{
    color: #666666;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    color: #999999;
}

#documentContainer ul {
    padding-inline-start: 0;
}

#documentContainer li:hover {
    border-color: teal;
    background-color: #444444;
    list-style: none;
}

.documentTitle, .documentExcerpt {
    margin-left: 20px;
    color: #ccc;
}

.documentTitle {
    font-weight: bold;
    color: #fff;
}

#wordCounter {
    display: flex;
    align-items: center;
}

#wordCounter > b, span {
    margin: 0 0.1em;
}

#wordCounter > b {
    font-weight: 700;
}

/* Markdown CSS */

/* File List */
